registry=https://pkgs.dev.azure.com/ZEISSgroup/_packaging/SIP/npm/registry/
always-auth=true

; begin auth token
//pkgs.dev.azure.com/ZEISSgroup/_packaging/SIP/npm/registry/:username=ZEISSgroup
//pkgs.dev.azure.com/ZEISSgroup/_packaging/SIP/npm/registry/:_password=RnVCVUxpTGJZdWJ6Rll3OGZaZ3hKcHBxMW5idUxBV0RiOXBpaWxHckthaVIzaG41UzhUNEpRUUo5OUJJQUNBQUFBQUEyemRuQUFBU0FaRE8yNG1o
//pkgs.dev.azure.com/ZEISSgroup/_packaging/SIP/npm/registry/:email=akash.manjunath@zeiss.com
//pkgs.dev.azure.com/ZEISSgroup/_packaging/SIP/npm/:username=ZEISSgroup
//pkgs.dev.azure.com/ZEISSgroup/_packaging/SIP/npm/:_password=RnVCVUxpTGJZdWJ6Rll3OGZaZ3hKcHBxMW5idUxBV0RiOXBpaWxHckthaVIzaG41UzhUNEpRUUo5OUJJQUNBQUFBQUEyemRuQUFBU0FaRE8yNG1o
//pkgs.dev.azure.com/ZEISSgroup/_packaging/SIP/npm/:email=akash.manjunath@zeiss.com
; end auth token